body {
    background-color: #8F3016; 
    font-size: 1em;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: beige;
    width:100%;
    margin: auto;
}

header {
    position:absolute;
    background-color: #8F3016;
    top: 0px;
    width: 100%;
}

#name {
    float: left;

    
    
}

header a {
    color: beige;
    float: right;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 1.25em;
}

.main {
    clear:both;
}

.main img {
    position: absolute;
    top: 300px;
    right: 200px;
    bottom: 200px;
    left: 100px;
    max-width: 100%;
    height:auto;
}

.main ul {
    position: relative;
    width: 50%;
    top: 500px;
    left: 500px;
    list-style-type: none;
    font-size: 2em;
}

.main li {
    margin: 50px;
}

.quote {
    position:relative;
    top: 1000px;
    padding: 300px;
    background-color:beige;
    color: black;
}

.quote p {
    font-size: 1.5em;
}

.quote span {
    font-style: italic;
}

footer {
    position:absolute;
    top: 2050px;
    bottom: 0px;
    color: black;
    width: 100%;
    padding: 0;
    text-align: center;
}

.blog1 {
    width: 60%;
    height: 700px;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}



.blogname {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.blogname a {
    text-decoration: none;
    color: black;
}

.blog2 {
    width: 60%;
    height: 700px;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.blog3 {
    width: 60%;
    height: 700px;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 30px auto;

}

.container span {
    font-style: italic;
}

.learningplan {
    width:60%;
    height: 1000px;
    margin: auto;
    background-color:beige;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.learningplan p {
    letter-spacing: 1px;

}


.values {
    width:60%;
    height: auto;
    margin: auto;
    background-color:beige;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position:relative;
    top: 50px;

}

.values p {
    letter-spacing: 1px;
}

.heading {
    position:relative;
    top: 30px;
}