body {
    background-color: brown;
    margin: auto;
    max-width: 100%;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    

}

header {
  
    background-color: brown;
    position: fixed;
    top: 0;
    width: 100%;
    border: 10px;
   
}

#name {
    float: left;
    

}

header a {
    color: beige;
    float: right;
    display: block;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 1.25em;
    

}

.main {
    padding: 30px;
    border: 100px;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.main {
    
    
}